<configuration>
    <property name="DEFAULT_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <property name="ACCESS_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
method=%X{method:-} uri=%X{uri:-} status=%X{status:-}
duration=%X{duration:-}ms concurrent=%X{concurrent:-} sqlCount=%X{sqlCount:-}
ip=%X{ip:-} userId=%X{userId:-} - %msg%n"/>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>
    <logger name="org.hibernate.stat" level="WARN"/>
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="WARN"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlStatementLogger" level="WARN"/>

    <appender name="DEFAULT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ACCESS_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <logger name="com.cocos.cocos.common.filter.RequestLoggingFilter" level="INFO" additivity="false">
            <appender-ref ref="ACCESS_CONSOLE"/>
        </logger>

        <logger name="com.cocos" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/dev-app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/dev-app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>5MB</maxFileSize>
                <maxHistory>5</maxHistory>
                <totalSizeCap>30MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${DEFAULT_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="com.cocos.cocos.common.filter.RequestLoggingFilter" level="INFO" additivity="false">
            <appender-ref ref="ACCESS_CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/cocos/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/var/log/cocos/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>3</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${DEFAULT_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="com.cocos.cocos.common.filter.RequestLoggingFilter" level="INFO" additivity="false">
            <appender-ref ref="ACCESS_CONSOLE"/>
            <appender-ref ref="FILE"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="DEFAULT_CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>
